html, body {
    margin: 0px;
    padding: 0px;
}

.contentGrid {
    width: 100%;
}

.menuCol {
    width: 200px;
    vertical-align: top;
}

.tableCol {
    vertical-align: top;
}

.panelContent {
    width: 100%;
}

.panelContent,
.panelContent > tbody > tr > td {
    vertical-align: top;
}